:root {
  --main-color: #1b17ff;
  --bg-color: #ffffff;
  --primary-color: #eb6e80;
  --secondary-color: #70cccc;
  --tertiary-color: #e6df61;
}

/*****************************************************************************************
* Globals
*****************************************************************************************/
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", "PT Serif", serif;
}

body {
  padding: 50px;
  margin: 0 auto;
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--main-color);
}

/*****************************************************************************************
* Typography
*****************************************************************************************/
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}



/*****************************************************************************************
* Layouts
*****************************************************************************************/

/* Logo */
.logo {
  font-size: 3em;
  text-align: end;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
}

/* Navigation Bar */
.navigation-list {
  list-style: none;
  text-align: center;
  position: sticky;
}

.navigation-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 1em;
}

.navigation-item a[href]:not(:hover) {
  text-decoration: none;
}

.navigation-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/*****************************************************************************************
* Content Styling
*****************************************************************************************/

main {
  margin: 1rem auto;
  width: 66vw;  
}

p {
  text-align: justify;
  line-height: 1.5rem;
  padding-top: 1rem;
}

/* Posts */
.tmpl-post img {
  display: block;
  margin: 1rem auto;
  width: 90%;
  border: var(--blue) 0.3rem solid;
  border-radius: 15px;
}

/*****************************************************************************************
* Components
*****************************************************************************************/

.postlist {
  list-style: none;
}

.postlist-item {
  height: 2rem;
}

.postlist-date {
  font-size: 0.75rem;
  vertical-align: super;
}

/* Route */

.routelist {
  list-style: none;
}

.routelist-item {
  height: 2rem;
}

.tmpl-route img {
  display: block;
  margin: 1rem auto;
  width: 90%;
  border: var(--blue) 0.3rem solid;
  border-radius: 15px;
}

table.roundedCorners {
  width: 60vw;
  margin: auto;

  /* Round the borders of entire table*/
  border-collapse: separate;
  border: 5px solid var(--brown);
  border-radius: 10px;
  -moz-border-radius: 10px;
  border-spacing: 0;
}

table.roundedCorners th,
table.roundedCorners td {
  padding: 10px;
  text-align: left;
}

table.roundedCorners thead th:first-child {
  -moz-border-radius: 10px 0 0 0 !important;
  border-radius: 10px 0 0 0 !important;
}

table.roundedCorners thead th:last-child {
  -moz-border-radius: 0 10px 0 0 !important;
  border-radius: 0 10px 0 0 !important;
}

table.roundedCorners thead {
  background-color: var(--yellow);
  border-top: none;
}

table.roundedCorners tbody tr:nth-child(even) {
  background-color: var(--yellow);
}

table.roundedCorners tbody tr:nth-child(odd) {
  background-color: var(--blue);
  color: var(--yellow);
}

table.roundedCorners tbody tr:hover {
  background-color: var(--brown);
  color: var(--blue);
}

table.roundedCorners tr:last-child > td {
  border-bottom: none;
}

/*
Map related CSS
*/

#mapid {
  height: 800px;
  width: 80%;
  margin: 1rem auto;
}
