:root {
  --main-color: #1b17ff;
  --bg-color: #e1f0ff;
  --primary-color: #eb6e80;
  --secondary-color: #8cc6ff;
  --tertiary-color: #e6df61;

  --ff: "Montserrat";
  --ff-code: "Space Mono";

  --clr-bg: #e1f0ff;
  --clr-primary: #1b17ff;
  --clr-secondary: #1787ff;
  --clr-secondary-lt: #8cc6ff;
  --clr-complimentary: #fbff17;

  --short-logo: "hm";

  --txt-width: 70vw;
  --txt-title: 3rem;
  --txt-heading: 2rem;
  --txt-subheading: 1.5rem;
  --txt-text: 1rem;
  --txt-small: 0.8rem;

  --brdr-rad: 1rem;
}

/*****************************************************************************************
* Globals
*****************************************************************************************/
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", "PT Serif", serif;
}

body {
  padding: 50px;
  margin: 0 auto;
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--main-color);
}

/*****************************************************************************************
* Typography
*****************************************************************************************/
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

/*****************************************************************************************
* Layouts
*****************************************************************************************/

/* Logo */
.logo {
  font-size: 3em;
  text-align: end;
  background-color: var(--secondary-color);
  border-radius: var(--brdr-rad);
  border-top-left-radius: 0;
  padding: 20px;
}

/* Navigation Bar */
.navigation-list {
  list-style: none;
  text-align: center;
  position: sticky;
  margin-top: 0.5rem;
}

.navigation-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 1em;
}

.navigation-item a[href]:not(:hover) {
  text-decoration: none;
}

.navigation-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/*****************************************************************************************
* Content Styling
*****************************************************************************************/

main {
  margin: 1rem auto;
  width: 66vw;
}

p {
  text-align: justify;
  line-height: 1.5rem;
  padding-top: 1rem;
}

/* Posts */
.tmpl-post img {
  display: block;
  margin: 1rem auto;
  width: 90%;
  border: var(--blue) 0.3rem solid;
  border-radius: 15px;
}

/*****************************************************************************************
* Components
*****************************************************************************************/

.postlist {
  list-style: none;
}

.postlist-item {
  height: 2rem;
}

.postlist-date {
  font-size: 0.75rem;
  vertical-align: super;
}

/* Route */

.routelist {
  list-style: none;
}

.routelist-item {
  height: 2rem;
}

.tmpl-route img {
  display: block;
  margin: 1rem auto;
  width: 90%;
  border: var(--blue) 0.3rem solid;
  border-radius: 15px;
}

table.roundedCorners {
  width: 60vw;
  margin: auto;

  /* Round the borders of entire table*/
  border-collapse: separate;
  border: 5px solid var(--brown);
  border-radius: 10px;
  -moz-border-radius: 10px;
  border-spacing: 0;
}

table.roundedCorners th,
table.roundedCorners td {
  padding: 10px;
  text-align: left;
}

table.roundedCorners thead th:first-child {
  -moz-border-radius: 10px 0 0 0 !important;
  border-radius: 10px 0 0 0 !important;
}

table.roundedCorners thead th:last-child {
  -moz-border-radius: 0 10px 0 0 !important;
  border-radius: 0 10px 0 0 !important;
}

table.roundedCorners thead {
  background-color: var(--yellow);
  border-top: none;
}

table.roundedCorners tbody tr:nth-child(even) {
  background-color: var(--yellow);
}

table.roundedCorners tbody tr:nth-child(odd) {
  background-color: var(--blue);
  color: var(--yellow);
}

table.roundedCorners tbody tr:hover {
  background-color: var(--brown);
  color: var(--blue);
}

table.roundedCorners tr:last-child > td {
  border-bottom: none;
}

/*
Map related CSS
*/

#mapid {
  height: 800px;
  width: 80%;
  margin: 1rem auto;
}

/* Cards for post layout */
.article-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.article-card {
  text-decoration: none;
  margin: 0.3rem;
  background-color: var(--clr-secondary-lt);
  border-radius: var(--brdr-rad);
  border-top-left-radius: 0;
  text-align: center;
  min-height: 8rem;
}

.article-card-heading {
  margin: 0.5rem;
  text-align: center;
  padding: 0;
  color: var(--clr-primary);
}

.article-card-description {
  font-size: var(--txt-small);
  text-align: center;
  margin: 0.3rem;
}

.article-heading {
  padding: 0.5rem 1.5rem;
}
/*===================================================*/
