---
title: Incense Trail
description: Trip across the Negev following the ancient Nabatean settlements along the ancient incense trail
date: 2019-08-12
tags:
  - routes
  - incense trail
  - israel
layout: layouts/route.njk
permalink: routes/incense-trail.html
---
<img src="(https://res.cloudinary.com/bikepacking/image/upload/f_auto,q_auto,c_scale,w_2048,dpr_auto/v1565607883/IncenseTrailFull_agtxpn.jpg" alt="" srcset="">