<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ metadata.title }}</title>
    <meta
      name="Description"
      content="{{ metadata.description }}"/>
    <link rel="stylesheet" href="/assets/css/tailwind.css"/>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80549791-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-80549791-2');
    </script>
  </head>

  <body class="bg-teal-300 text-teal-900 leading-normal text-base tracking-normal">

    <header class="grid bg-fixed lg:bg-center bg-no-repeat bg-cover justify-center">
      <h1 class="md:text-6xl font-black text-teal-900 uppercase text-center">Biking Badger</h1>
      <div class="font-black text-teal-900 text-center p-4">israel bikepacking adventures</div>
    </header>

    <main class="container mx-auto">
      <div class="sticky w-full top-0 bg-teal-300 grid justify-center grid-flow-col">
        {%- for nav in collections.nav -%}
          <a class="text-teal-800 hover:text-white no-underline uppercase mx-2 " href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
        {%- endfor -%}
      </div>
      <div class="m-4 ">{{ content | safe }}</div>
    </main>

    <footer></footer>
  </body>
</html>