<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta
      name="Description"
      content="{{ renderData.description or description or metadata.description }}"/>
    <link rel="stylesheet" href="/assets/css/tailwind.css"/>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
  </head>

  <body class="bg-gray-100 text-gray-900 leading-normal text-base tracking-normal">

    <header class="bg-teal-500 p-6 grid" style="grid-template-columns:1fr auto 1fr;">
      <input type="checkbox" id="nav-toggle" class="hidden">
      <label for="nav-toggle" class="inline-block self-center ml-1 lg:hidden" >
        <img src="/assets/img/hamburger-menu.svg" alt="">
      </label>
      <div class="left-menu px-2 self-center hidden lg:block">
        {%- for nav in collections.nav -%}
          <a class="text-teal-300 hover:text-white no-underline uppercase mx-2 " href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
        {%- endfor -%}
      </div>
      <h1 class="text-teal-100 font-black text-2xl md:text-5xl uppercase tracking-tight self-center">{{ metadata.title }}</h1>
    </header>

    <main class="container mx-auto">
      {{ content | safe }}
    </main>

    <footer></footer>
  </body>
</html>