<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ metadata.title }}</title>
        <meta
      name="Description"
      content="{{ metadata.description }}"/>
        <link rel="stylesheet" href="/assets/css/tailwind.css"/>

        <style>
            .splash {
                /* The image used */
                background-image: url("https://res.cloudinary.com/bikepacking/image/upload/f_auto,q_auto,c_scale,w_2048,dpr_auto/v1594804224/site/20180209_150706_gpdsee.jpg");
            }
        </style>
    </head>

    <body class="bg-teal-300 text-teal-900 leading-normal text-base tracking-normal">
        <header class="grid h-screen splash bg-fixed lg:bg-center bg-no-repeat bg-cover justify-center">
            <div class="h-screen grid content-center">
                <h1 class="md:text-6xl font-black text-teal-900 uppercase text-center">Biking Badger</h1>
                <p class="font-black text-teal-900 text-center">israel bikepacking adventures</p>
            </div>
        </header>

        <main class="container m-auto bg-white">
            <div class="sticky w-full top-0 bg-teal-300 grid justify-center grid-flow-col">
                {%- for nav in collections.nav -%}
                    <a class="text-teal-800 hover:text-white no-underline uppercase mx-2 " href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
                {%- endfor -%}
            </div>
            <div class="m-4 ">{{ content | safe }}</div>
        </main>

        <footer></footer>
    </body>
</html>