---
title: Bike Packing Checklist
description: Bike packing gear list for trips in Israel
date: 2019-08-21
tags:
- hidden
navtitle: Checklist
templateClass: tmpl-checklist
layout: layouts/post.njk
permalink: "checklist/"
---

<table class="roundedCorners">
  <thead>
    <tr>
      <th> Packed </th>
      <th> Gear </th>
      <th> Place </th>
      <th> Quantity </th>
      <th> Type </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Water – bottles">
      </td>
      <td> Water – bottles </td>
      <td> Bike </td>
      <td> 2 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="GPS">
      </td>
      <td> GPS </td>
      <td> Bike </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Spot">
      </td>
      <td> Spot </td>
      <td> Bike </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="First Aid Kit">
      </td>
      <td> First Aid Kit </td>
      <td> Framebag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Ibuprofin">
      </td>
      <td> Ibuprofin </td>
      <td> Framebag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Ibuprofin">
      </td>
      <td> Mozquitto Repelent</td>
      <td> Framebag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Ear plugs">
      </td>
      <td> Ear plugs</td>
      <td> Framebag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="GPS">
      </td>
      <td> Face Mask </td>
      <td> Feed Bag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Lip balm">
      </td>
      <td> Lip balm </td>
      <td> Framebag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Handlebar bag">
      </td>
      <td> Handlebar bag </td>
      <td> Handlebar </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Shorts">
      </td>
      <td> Shorts </td>
      <td> Handlebar </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Bib">
      </td>
      <td> Bib </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Shorts">
      </td>
      <td> UV Arms Protectors </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Riding Gloves">
      </td>
      <td> Riding Gloves </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Jersey">
      </td>
      <td> Jersey </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Light">
      </td>
      <td> Light </td>
      <td> Bike </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Headlight">
      </td>
      <td> Headlight </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Helmet">
      </td>
      <td> Helmet </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Chain breaker">
      </td>
      <td> Chain breaker </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Duct tape">
      </td>
      <td> Duct tape </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Leatherman">
      </td>
      <td> Leatherman </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Pump">
      </td>
      <td> Pump </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Riding Shoes">
      </td>
      <td> Riding Shoes </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Sunglasses">
      </td>
      <td> Sunglasses </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Socks">
      </td>
      <td> Socks </td>
      <td> Person </td>
      <td> 2 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Sparetube">
      </td>
      <td> Sparetube </td>
      <td> Person </td>
      <td> 2 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Tire Lever">
      </td>
      <td> Tire Lever </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Chain Lube">
      </td>
      <td> Chain Lube </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="CO2 Carridge">
      </td>
      <td> CO2 Carridge </td>
      <td> Toptube </td>
      <td> 2 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Gas Pump">
      </td>
      <td> Gas Pump </td>
      <td> Toptube </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Electric Tape">
      </td>
      <td> Electric Tape </td>
      <td> Toptube </td>
      <td> 0 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Worms">
      </td>
      <td> Worms </td>
      <td> Person </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Zip Tiers">
      </td>
      <td> Zip Tiers </td>
      <td> Person </td>
      <td> 3 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Seatbag">
      </td>
      <td> Seatbag </td>
      <td> Seatbag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Boxers">
      </td>
      <td> Boxers </td>
      <td> Seatbag </td>
      <td> 0 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="T-Shirt">
      </td>
      <td> T-Shirt </td>
      <td> Seatbag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Toothbrush">
      </td>
      <td> Toothbrush </td>
      <td> Seatbag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Sandals">
      </td>
      <td> Sandals </td>
      <td> Seatbag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Chamios Cream">
      </td>
      <td> Chamios Cream </td>
      <td> Seatbag </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Toilet Paper">
      </td>
      <td> Toilet Paper </td>
      <td> Toptube </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Wallet">
      </td>
      <td> Wallet </td>
      <td> Toptube </td>
      <td> 1 </td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Sunscreen">
      </td>
      <td> Sunscreen </td>
      <td> Toptube </td>
      <td></td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Matches">
      </td>
      <td> Matches </td>
      <td> Toptube </td>
      <td></td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Minimum" value="Straps">
      </td>
      <td> Straps </td>
      <td> Seatbag </td>
      <td></td>
      <td> Minimum </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Long" value="Battery">
      </td>
      <td> Battery </td>
      <td> Handlebar </td>
      <td> 0 </td>
      <td> Long </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Long" value="Backpack">
      </td>
      <td> Backpack </td>
      <td> Person </td>
      <td> 0 </td>
      <td> Long </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Long" value="Water Bladder">
      </td>
      <td> Water Bladder </td>
      <td> Person </td>
      <td> 0 </td>
      <td> Long </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Long" value="Bicarb">
      </td>
      <td> Bicarb </td>
      <td> Seatbag </td>
      <td> 0 </td>
      <td> Long </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Long" value="Solar Panel">
      </td>
      <td> Solar Panel </td>
      <td> Seatbag </td>
      <td> 0 </td>
      <td> Long </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cooking" value="Pot">
      </td>
      <td> Pot </td>
      <td> Handlebar </td>
      <td> 0 </td>
      <td> Cooking </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cooking" value="Spork">
      </td>
      <td> Spork </td>
      <td> Handlebar </td>
      <td> 0 </td>
      <td> Cooking </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cooking" value="Stove">
      </td>
      <td> Stove </td>
      <td> Handlebar </td>
      <td> 0 </td>
      <td> Cooking </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cooking" value="Stove Gas">
      </td>
      <td> Stove Gas </td>
      <td> Handlebar </td>
      <td> 0 </td>
      <td> Cooking </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Camping" value="Tent poles/Hiking Pole">
      </td>
      <td> Tent poles/Hiking Pole </td>
      <td> Bike </td>
      <td> 0 </td>
      <td> Camping </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Camping" value="Sleeping bag">
      </td>
      <td> Sleeping bag </td>
      <td> Seatbag </td>
      <td> 1 </td>
      <td> Camping </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Camping" value="Sleeping pad">
      </td>
      <td> Sleeping pad </td>
      <td> Seatbag </td>
      <td> 1 </td>
      <td> Camping </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Camping" value="Tent/Tarp">
      </td>
      <td> Tent/Tarp </td>
      <td> Seatbag </td>
      <td> 0 </td>
      <td> Camping </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cold" value="Jacket">
      </td>
      <td> Jacket </td>
      <td> Handlebar </td>
      <td> 0 </td>
      <td> Cold </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cold" value="Leg Warmers">
      </td>
      <td> Leg Warmers </td>
      <td> Person </td>
      <td> 0 </td>
      <td> Cold </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cold" value="Beanie">
      </td>
      <td> Beanie/Neck Warmer </td>
      <td> Seatbag </td>
      <td> 0 </td>
      <td> Cold </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cold" value="Long Top">
      </td>
      <td> Long Top </td>
      <td> Person </td>
      <td> 0 </td>
      <td> Cold </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cold" value="Wool Socks">
      </td>
      <td> Gillet </td>
      <td> Seatbag </td>
      <td> 0 </td>
      <td> Cold </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cold" value="Gloves - Off Bike">
      </td>
      <td> Gloves - Off Bike </td>
      <td> Seatbag </td>
      <td> 0 </td>
      <td> Cold </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cold" value="Long Pants">
      </td>
      <td> Long Pants </td>
      <td> Seatbag </td>
      <td> 0 </td>
      <td> Cold </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cold" value="Wool Socks">
      </td>
      <td> Wool Socks </td>
      <td> Seatbag </td>
      <td> 0 </td>
      <td> Cold </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="Cold" value="GoPro">
      </td>
      <td> GoPro </td>
      <td> Optional </td>
      <td> 0 </td>
      <td> Cold </td>
    </tr>
  </tbody>
</table>