---
title: Israel Bikepacking Events
description: Calendar of Bikepacking Events in Israel
date: 2019-08-21
tags:
- nav
navtitle: Events
templateClass: tmpl-calendar
layout: layouts/post.njk
---

<h2>2020</h2>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-3 m-4">
  <div class="grid grid-cols-2 border-teal-500 rounded-lg p-4 bg-gray-100 shadow-xl transition duration-200 ease-in transform hover:translate-y-4 hover:scale-105">
    {# <div class="col-span-2 border-2 rounded-lg h-full shadow-lg">Image Placeholder</div> #}
    <img class="col-span-2 border-2 rounded-lg h-full shadow-lg" src="https://res.cloudinary.com/bikepacking/image/upload/c_fill,g_face,h_800,w_500,x_0/v1594876532/maps/HLC_i0yhjr.png">
    <h3 class="col-span-2 text-xl font-black text-center">
      <a href="http://www.holylandmtbchallenge.com">Holyland Challenge</a>
    </h3>
    <div>Start</div>
    <div>Majdal Shams</div>
    <div>Distance</div>
    <div>1,400km</div>
    <div>Date</div>
    <div>October 15th, 2020</div>
    <div>
      <a href="http://www.holylandmtbchallenge.com/#the-loi">Register</a>
    </div>
    <div>
      <a href="http://www.holylandmtbchallenge.com/#the-route">Route</a>
    </div>
  </div>

  <div class="grid grid-cols-2 border-teal-500 rounded-lg p-4 bg-gray-100 shadow-xl transition duration-200 ease-in transform hover:translate-y-4 hover:scale-105">
    <img class="col-span-2 border-2 rounded-lg h-full shadow-lg" src="https://res.cloudinary.com/bikepacking/image/upload/c_fill,g_face,h_800,w_500,x_0/v1594876532/maps/P2PMiddle_rf2hn3.png">
    <h3 class="col-span-2 text-xl font-black text-center">
      <a href="https://www.p2p.org.il/middle-earth">P2P Middle Earth</a>
    </h3>
    <div>Start</div>
    <div>Naharia</div>
    <div>Distance</div>
    <div>268km</div>
    <div>Date</div>
    <div>November 12th, 2020</div>
    <div>
      <a href="https://www.p2p.org.il/events/p2p-middle-earth/form">Register</a>
    </div>
    <div>
      <a href="https://www.wikiloc.com/mountain-biking-trails/p2p-middle-earth-part-1-50534414">Route</a>
    </div>
  </div>
</div>

<h2>2021</h2>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-3 m-4">
  <div class="grid grid-cols-2 border-teal-500 rounded-lg p-4 bg-gray-100 shadow-xl transition duration-200 ease-in transform hover:translate-y-4 hover:scale-105">
    <img class="col-span-2 border-2 rounded-lg h-full shadow-lg" src="https://res.cloudinary.com/bikepacking/image/upload/c_fill,g_face,h_800,w_500,x_0/v1594876532/maps/YOTA_cx6uwh.png">
    <h3 class="col-span-2 text-xl font-black text-center">
      <a href="https://www.yota-bikepacking.com">YOTA</a>
    </h3>
    <div>Start</div>
    <div>Dimona</div>
    <div>Distance</div>
    <div>700km</div>
    <div>Date</div>
    <div>January 28th, 2021</div>
    <div>
      <a href="https://www.p2p.org.il/events/p2p-discover-israel/form">Register</a>
    </div>
    <div>Build your own, as the name suggests. Need to finish in 72 hour</div>
  </div>
  <div class="grid grid-cols-2 border-teal-500 rounded-lg p-4 bg-gray-100 shadow-xl transition duration-200 ease-in transform hover:translate-y-4 hover:scale-105">
    <img class="col-span-2 border-2 rounded-lg h-full shadow-lg" src="https://res.cloudinary.com/bikepacking/image/upload/c_fill,g_face,h_800,w_500,x_0/v1594876532/maps/P2PDisco_vobwej.png">
    <h3 class="col-span-2 text-xl font-black text-center">
      <a href="https://www.p2p.org.il/p2p-reveal-israel">P2P Discover Israel</a>
    </h3>
    <div>Start</div>
    <div>Eilat</div>
    <div>Distance</div>
    <div>1,133km </div>
    <div>Date</div>
    <div>April 1st, 2021</div>
    <div>
      <a href="https://www.p2p.org.il/events/p2p-discover-israel/form">Register</a>
    </div>
    <div>
      <a href="https://www.p2p.org.il/events/p2p-discover-israel">Route</a>
    </div>
  </div>
  <div class="grid grid-cols-2 border-teal-500 rounded-lg p-4 bg-gray-100 shadow-xl transition duration-200 ease-in transform hover:translate-y-4 hover:scale-105">
    <img class="col-span-2 border-2 rounded-lg h-full shadow-lg" src="https://res.cloudinary.com/bikepacking/image/upload/c_fill,g_face,h_800,w_500,x_0/v1594876532/maps/P2PEW_dtb3vz.png">
    <h3 class="col-span-2 text-xl font-black text-center">
      <a href="https://www.p2p.org.il/east-to-west">P2P East to West</a>
    </h3>
    <div>Start</div>
    <div>Beit She'an</div>
    <div>Distance</div>
    <div>315km</div>
    <div>Date</div>
    <div>April 29th, 2021</div>
    <div>
      <a href="https://www.p2p.org.il/events/p2p-east-to-west/form">Register</a>
    </div>
    <div>
      <a href="https://www.wikiloc.com/mountain-biking-trails/p2p-east-to-west-51162854">Route</a>
    </div>
  </div>
</div>