---
title: Climbs of the Carmel 2020 - Day 2
description: Going over the climbs of the bikepacking trip around the Carmel, Israel for Twenty Peaks
date: 2020-10-28
tags:
  - carmel2020
  - article
  - twenty peaks
layout: layouts/post.njk
permalink: posts/carmel-2020-climbs-day-2.html
cover:
---
<p>Today holds three climbs with the first one in the morning probably being the most difficult in terms of the gradient. The others are really long with walls scattered between. Which is easier? I really don't know but after a <a href="/posts/carmel-2020-climbs-day-1.html">day of climbing</a> in the legs, today will not be a walk in the park. We start today on <a href="https://twentypeaks.com/peak?id=462&eid=20">Nesher</a> that has an average gradient of 7.3% over the 6km climb so it's a grind all the way. One of the cool things about this climb is the hairpin bends that kick up and around corners. The climb starts off quite sharply but then gradually becomes a power climb, there is even downhill in the middle which I don't really like.</p>
<iframe style="width:100%;height:600px;" src="https://veloviewer.com/segments/16363049/embed2" frameborder="0" scrolling="no"></iframe>
<iframe style="width:100%;height:600px;" src="https://veloviewer.com/segments/13295050/embed2" frameborder="0" scrolling="no"></iframe>
<p>After Nesher we have to traverse to the other side of the Carmel to be able to ride across to the next peak. The route is a triangle of pain today and this section means dropping down from Nesher and then riding along the coastal road to get to the next climb. It's a bit of filler but there isn't much we can do about it. <a href="http://https://twentypeaks.com/peak?id=417&eid=20">Muchraka</a> is a long climb that goes along the southern section of the Carmel. We climb up to the plateau again from the sea and then it's rollers before the final punch to the top. I've actually ridden the revers of the end of a trip I didn't a while back and I can remember this just being a grind up and down. There isn't really any relaxing as the descents are rocky so it's hanging on and bumping it out.</p>
<p>This final long climb of the day is called <a href="https://twentypeaks.com/peak?id=419&eid=20">Isfiya</a> which takes in most of the Carmel Scenic road. This really is a lovely little path looping in and out of the hills and you get a view of the whole Galilee as you navigate back across the Carmel from the North-East side. From there it's a long drop back down to Ein Carmel through Daliyat Al Karmel. I'm sure that even though there are only three climbs the legs will be jelly by the time we arrive back at the cars but smiles will be stretching across our sunburnt faces</p>
<iframe style="width:100%;height:600px;" src="https://veloviewer.com/segments/22006305/embed2" frameborder="0" scrolling="no"></iframe>