---
title: Climbs of the Carmel 2020 - Day 1
description: Going over the climbs of the bikepacking trip around the Carmel, Israel for Twenty Peaks
date: 2020-10-26
tags:
  - carmel2020
  - article
  - twenty peaks
layout: layouts/post.njk
permalink: posts/carmel-2020-climbs-day-1.html
cover:
---
<p>This trip visits Har Shokef three times each in succession. The first is a long way up but seems to find the roads with the highest gradients and starts in Ein Kerem. The climb goes up and down three hills so there is a stretch of downhill after the first two attacks on the mountain which bring the average gradient climbed down to 2.8%. The first uphill seems to be a bit of a leg warmer to soften the legs up a bit and even the next climb leaves the sting until after the 10km mark. So it'll be easy going to save as much as possible. This is a bikepacking trip after all so no point blowing up on the first of the eight planned climbs. The last bit has far too much red for my liking but then this is supposed to be a challenge.</p>
<iframe style="width:100%;height:600px;" src="https://veloviewer.com/segments/25519677/embed2" frameborder="0" scrolling="no"></iframe>
<p>With the legs nice a warm, the day will be getting on and the last climb will have taken around 2 hours of solid climbing it's time to get onto one of the categorized climbs of the competition. Not that it matters as at the rate we'll be going up it won't be pulling up trees and knocking down KOM's. That will be one of the challenges on this trip is to not go into the red or at least as little as possible. Tranquillo all the way. <a href="https://twentypeaks.com/peak?id=451&eid=20">Har Shokef from Ein Hod</a> from Ein Hod is a brutal no messing around climb. There's a peak, find the shortest way up. The climb has some bits over 10% but the majority is spent between 2-5%. Things might be different on the ground as it'll be during the warm part of the day but by the looks of it this is a forest area so might give a little bit of shade.</p>
<iframe style="width:100%;height:600px;" src="https://veloviewer.com/segments/21476896/embed2" frameborder="0" scrolling="no"></iframe>
<p>Two down and one to go as we drop down into the Har HaCarmel National Park and this will be a great little place to find some shade and have a bite to eat and just relax a bit. Amazingly this will only be 40km into the day plan of doing 100km or so. The next climb up to Har Shokef will be from the <a href="https://twentypeaks.com/peak?id=478&eid=20">Haagam park</a> which luckily doesn't entail dropping all the way down but rather starting the climb below Bet Oren. This one is like a piece of spaghetti that goes up most of the way to the top then drops back down to where you started before again taking us to the final passing of this hill for the trip. A lot of going around and around to make things work. There is another climb actually up to Har Shokef but let's be honest, I'm sure that by this time we'll be wanting to move on to greener pastures.</p>
<iframe style="width:100%;height:600px;" src="https://veloviewer.com/segments/25310281/embed2" frameborder="0" scrolling="no"></iframe>
<p>This bikepacking trip won't be all off-road as the <a href="https://twentypeaks.com/">Twenty Peaks</a> is both on the road and offroad. So the first road climb will make its appearance and it's one I did a few weeks back on one of my long rides. I hit <a href="https://twentypeaks.com/peak?id=424&eid=20">Beit Oren</a> after 100km so my legs already had some lactic buildup or whatever they're blaming that burn on nowadays. Either way, I'm quite confident I'll know how to pace this climb, and seeing as it's on the road it'll be a bit of a break from trying to find traction of the uphills after a long, hot summer having baked the dirt to powder.</p>
<iframe style="width:100%;height:600px;" src="https://veloviewer.com/segments/666180/embed2" frameborder="0" scrolling="no"></iframe>
<p>This drop down will be through Haifa so this will be the ideal opportunity to fuel up for the night. Grab a bit to eat. Maybe even sneak in a cheeky beer if something is open before attempting the final piste of the day. <a href="https://twentypeaks.com/peak?id=115&eid=20">David Eisen</a> viewpoint another new climb to me although I have a feeling the top I might know a little bit of the area. It's another long one with most of the hurt coming in the first part of the climb as you climb out of Tirat Carmel straight to the University. I think that from there quite a bit of the route will be rolling to get the final peak.</p>
<iframe style="width:100%;height:600px;" src="https://veloviewer.com/segments/18603683/embed2" frameborder="0" scrolling="no"></iframe>