---
layout: layouts/base.njk
tags:
  - nav
navtitle: Posts
date: 2000-01-30
---
<h1>Posts</h1>

<section class="article-list">
{%- for article in collections.article | reverse -%}
  <div>
    <h2><a href={{ article.url }}>{{ article.data.title }}</a></h2>
    <p class="article-card-description">{{ article.data.description }}</p>
  </div>
{%- endfor -%}
<section class="article-list">